# Class (Object Oriented Programming)
- creating employee class 
- ___repr___
- roles of employee inheritance class 
- managers , employee list under him  ,number of employee under him

In [135]:
class Employee:
    number_of_employee=0
    idseq=100
    employee_database=[]
    def __init__(self,name,age,is_working=True): # constructor
        self.name=name
        self.age=age
        self.id=Employee.idseq
        self.is_working=is_working
        Employee.idseq+=1
        Employee.number_of_employee+=1
        Employee.employee_database.append(self)
    def introduce(self): # Instance Method
        print(f'Hello,Good Morning. My name is {self.name}, and I am {self.age} years old. My Id is {self.id}')
    
    def fire(self):
        if(self.is_working==True):
            self.is_working=False
            Employee.number_of_employee-=1
        else:
            print('Cannot fire this employee. He is already fired')
        
    def __repr__(self):
        return f'(name={self.name}, age={self.age})'

In [136]:
e1 = Employee('Parth',60)

In [137]:
e1.introduce()

Hello,Good Morning. My name is Parth, and I am 60 years old. My Id is 100

In [138]:
e2=Employee('Ramesh',100)

In [139]:
e2.introduce()

Hello,Good Morning. My name is Ramesh, and I am 100 years old. My Id is 101

In [140]:
Employee.number_of_employee

2

In [141]:
Employee.employee_database

[(name=Parth, age=60), (name=Ramesh, age=100)]

In [142]:
e1.fire()

In [143]:
Employee.number_of_employee

1

In [144]:
e2.fire()

In [145]:
Employee.number_of_employee

0

In [146]:
e1.fire()

Cannot fire this employee. He is already fired

In [147]:
class Manager(Employee):
    def __init__(self,name,age):
        super().__init__(name,age)
        self.role='Manager'
    
    def fire_emp(self,emp):
        if(emp.is_working):
            print(f'{self.name} has fired {emp.name}')
            emp.fire()
        else:
            print('cannot fire, already fired')

In [148]:
m1= Manager('Prateek',90)

In [149]:
print(m1)

(name=Prateek, age=90)

In [150]:
Employee.number_of_employee

1

In [151]:
e1=Employee('Sakshi',26)
e2=Employee('Surekha',30)
e3=Employee('Arun',24)

In [152]:
Employee.number_of_employee

4

In [153]:
m1.fire_emp(e1)

Prateek has fired Sakshi

In [154]:
Employee.number_of_employee

3

In [155]:
e1.is_working

False